/* Estilos generales para el contenedor */
.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    padding: 35vw;
    padding-top: 10vw;
    /* Ajusta los márgenes según tu diseño */
    /* O cualquier otro ancho deseado */
}

/* Estilos para los títulos "precio" y "descripcion" */
.admin h3 {
    margin: 10px 0;
}

/* Estilos para los inputs */
.admin input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 30px;
}